@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
  --primary: #f2f2f2;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary);
}

.header__content{
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.header__title{
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2.4rem;
}

.section{
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
}

.section__content{
  width: 90%;
  margin: 60px auto;
}


.section__element{
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 220px;
}

.section__element::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
  grid-column: 2/3;
  top: 0;
  right: 50%;
  left: 50%;
}

.section__image{
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  border: 8px solid #fff;
  box-shadow: 0 0 16px #0000005b;
  filter: grayscale(1);
  
}

.section__image:hover{
  filter: grayscale(0);
}
.section__image--rigth{
  grid-column: 3/-1;
}
.section__text{
  font-weight: 300;
  font-size: 1.4rem;
  grid-column: 3/-1;
}
.section__text--rigth{
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
}
.section__image:hover ~ .section__text{
  text-decoration: underline;
}
.section__text::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #000;
  border-radius: 50%;
  left: 43%;
  background-color: #fff;
  grid-column: 2/3;
}